.page-container {
  margin-top: 80px;
}

/*------------------------------------NAVBAR----------------------------------------*/
.navbar {
  background-color: Black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 80px;
  transition: top 0.3s, height 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.341);


}

.company {
  margin-left: 30px;
}

.navbar ul {
  max-width: 100%;
  /* Ensure ul doesn't exceed parent width */
  padding: 0;
  margin: 0;
  margin-right: 20px;
  list-style: none;
  display: flex;
  text-decoration: none;
  transition: 0.4s;
  overflow-x: auto;
  /* Add horizontal scroll for overflow */
}

.navbar li {

  margin: 0;
}

.navbar-buttons {
  font-size: 20px;

}

.navbar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: .25rem;
  align-items: center;
  font-size: 30px;
}

.navbar-button {
  color: gray;
}



/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

/* Active state for hamburger menu */
.bar.active:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.active:nth-child(2) {
  opacity: 0;
}

.bar.active:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: purple;
    width: 100%;
    height: auto;
    padding: 20px;
    z-index: 5;
    overflow-x: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.341);
    /* Hide horizontal scroll for small screens */
  }

  .navbar li {
    font-size: 10px;
    display: flex;
    justify-content: center;
  }

  .navbar ul.active {
    display: flex;
    justify-content: center;
  }

  .hamburger-menu {
    display: block;
  }
}

/*------------------------------------------DATA-------------------------------------*/

.data-container {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
  height: auto;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
  /* Ensure padding and borders are included in the element's total width and height */
}

.data-container table {
  width: 100%;

  /* Ensure table takes full width of the container */
  /* Prevent the table from exceeding container's width */
  border-collapse: collapse;




}

.data-container th,
.data-container td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.data-container th {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
}

.data-container tr:nth-child(even) {
  background-color: rgba(118, 218, 255, 0.255);
}

.main-page {
  top: 0px;
  bottom: 100vh;
}

/*------------------------------------Boxes View-------------------------------------*/

.view-boxes img {

  height: 200px;
  width: auto;

}

/*-----------------------------------Filters Container-------------------------------*/

.side-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: -400px;
  /* Adjust this value to the width of the container */
  width: 400px;
  /* Adjust this value to your desired width */
  height: 100vh;
  background-color: lightgray;
  /* Background color for the container */
  color: black;
  /* Text color for contrast */
  padding: 0;
  /* Add padding for better text visibility */
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  /* Add this to handle overflow text */
}

.sidebar-contents {
  width: 100%;
  height: auto;
  display: inline;

}

.side-container.open {
  left: 0;
}

.side-container h1 {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.filter-container {
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 1vh;

  display: flex;
  justify-content: space-between;
}


.filter-container button {
  background-color: rgb(159, 159, 159);
  width: 200px;
  height: auto;
}

.search-container input {
  width: 500px;
  height: 25px;
}

.applied-filters {
  margin: 10px;
  display: flex;

  width: 100%;
}

.applied-filters button {
  background-color: transparent;
  border-color: gray;
}

.page-control-container {
  margin-top: 20px;

  width: 95vw;
  display: flex;
  justify-content: right;
}

.page-edit-container {

  width: 200px;

}

.page-edit {

  display: flex;
  justify-content: space-evenly;
}

.page-number {

  display: flex;
  justify-content: center;
}

.filter-buttons {
  width: 100%;

}

.filter-buttons-space {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.confidence-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}


.applied-filter-container {
  height: 20px;
}